name: Build, Test, & Publish '@schemavaults/dbh' Package

on:
  push:
    branches:
      - main

permissions:
  packages: write

env:
  BUN_VERSION: 1.3.1

jobs:
  build-test-and-publish:
    name: "Build, test, & publish package"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Install dependencies with Bun
        run: bun install
        env:
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_USER: ${{ github.actor }}
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build package with Bun
        run: bun run build
      - name: Run package unit tests
        run: bun run test
      - name: Publish package to GitHub NPM registry
        run: bun publish --registry=https://npm.pkg.github.com
        env:
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_USER: ${{ github.actor }}
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
