name: Build, Test, & Publish '@schemavaults/dbh' Package

on:
  push:
    branches:
      - main

env:
  BUN_VERSION: 1.3.3
  POSTGRES_VERSION: 17.7
  NODE_VERSION: 24

jobs:
  E2E-Tests:
    name: "Run E2E integration test(s)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run E2E Tests with Docker Compose
        working-directory: tests
        run: |
          /bin/bash ./run_e2e_tests.sh

  Unit-Tests:
    name: "Run unit test(s)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Install dependencies with Bun
        run: bun install
      - name: Run Unit Tests with Bun
        run: bun run test:unit

  Build-Package:
    name: "Build '@schemavaults/dbh' package"
    runs-on: ubuntu-latest
    needs:
      - Unit-Tests
    outputs:
      package_version: ${{ steps.package_version.outputs.package_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Install dependencies with Bun
        run: bun install
      - name: Build package with Bun
        run: bun run build
      - name: Pack up package with Bun
        run: bun pm pack --quiet --filename schemavaults-dbh.tgz
      - name: Upload package artifact
        uses: actions/upload-artifact@v6
        with:
          name: package-tarball
          path: schemavaults-dbh.tgz
          retention-days: 3
      - name: Get package version
        id: package_version
        run: echo "package_version=$(bun run version)" >> "$GITHUB_OUTPUT"

  Publish-To-Github-Packages:
    name: "Publish package to GitHub Packages"
    runs-on: ubuntu-latest
    needs:
      - Build-Package
      - E2E-Tests
    permissions:
      packages: write
    steps:
      - name: Download package artifact
        uses: actions/download-artifact@v7
        with:
          name: package-tarball
          path: .
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Install dependencies with Bun
        run: bun install
      - name: Build package with Bun
        run: bun run build
      - name: Run package unit tests
        run: bun run test
      - name: Configure .npmrc to publish to GitHub NPM registry
        run: cp .npmrc.github .npmrc
      - name: Publish package to GitHub NPM registry
        run: bun publish ./schemavaults-dbh.tgz --registry=https://npm.pkg.github.com --access public
        env:
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_USER: ${{ github.actor }}
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete .npmrc for GitHub NPM registry
        run: rm -rf .npmrc

  Publish-To-NPMJS-Packages:
    name: "Publish package to NPMJS registry"
    needs:
      - Build-Package
      - E2E-Tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download package artifact
        uses: actions/download-artifact@v7
        with:
          name: package-tarball
          path: .
      - uses: actions/setup-node@v5
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Configure .npmrc to publish to NPMJS registry
        run: cp .npmrc.npmjs .npmrc
      - name: Publish package to NPMJS registry
        run: npm publish ./schemavaults-dbh.tgz --provenance
      - name: Delete .npmrc for NPMJS registry
        run: rm -rf .npmrc

  Publish-Websocket-Proxy-To-GHCR:
    name: "Publish 'postgres-ws-proxy' Docker image"
    needs:
      - E2E-Tests
      - Build-Package
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: postgres-ws-proxy/Dockerfile
          push: true
          tags: |
            ghcr.io/schemavaults/dbh/postgres-ws-proxy:latest
            ghcr.io/schemavaults/dbh/postgres-ws-proxy:${{needs.Build-Package.outputs.package_version}}
