name: Build, Test, & Publish '@schemavaults/dbh' Package

on:
  push:
    branches:
      - main

permissions:
  packages: write
  id-token: write # Required for OIDC

env:
  BUN_VERSION: 1.3.3

jobs:
  build-test-and-publish:
    name: "Build, test, & publish package"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Install dependencies with Bun
        run: bun install
      - name: Build package with Bun
        run: bun run build
      - name: Run package unit tests
        run: bun run test
      - name: Configure .npmrc to publish to GitHub NPM registry
        run: cp .npmrc.github .npmrc
      - name: Publish package to GitHub NPM registry
        run: bun publish --registry=https://npm.pkg.github.com --access public
        env:
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_USER: ${{ github.actor }}
          SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Delete .npmrc for GitHub NPM registry
        run: rm -rf .npmrc
      - name: Configure .npmrc to publish to NPMJS registry
        run: cp .npmrc.npmjs .npmrc
      - name: Publish package to NPMJS registry
        run: bun publish --registry=https://registry.npmjs.org --provenance --access public
      - name: Delete .npmrc for NPMJS registry
        run: rm -rf .npmrc
